<div class="row">
    <div class="col-md-6 m-auto" >
        <div class="container mt-5 pl-5" >
            <h2 class="text-center text-secondary">Login</h2>
            <form action="/login" method="post">
            {{#if LoginErr}}
            <p class="error">{{LoginErr}}</p>
            {{/if}}
                <div class="form-group">
                    <label for="">Email address</label>
                    <input type="email" class="form-control" name="Email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label >password</label>
                    <input type="password" class="form-control" name="Password" placeholder="Password">
                </div>
                <button type="submit" class="col-sm-2 btn btn-primary float-right  ml-2">Login</button>
                <a href="/signup" class="col-sm-3 btn btn-info float-right">create new account ?</a>
                <a href="/admin/admin-login" class="col-sm-2 btn btn-success float-left mr-3">Admin</a>
            </form>
        </div>
    </div>
</div>