
    <section>
        <div class="container mt-3">
            <div class="row">
                {{#each products}}
                <div class="col-md-2 p-2">
                    <div class="card" style="width: 9rem; height:25rem">
                        <img class="card-img-top"
                            src="/product-images/{{this._id}}.jpg" alt="Card image cap" style="height: 10rem; width:8rem">
                            
                        <div class="card-body">
                            <h5 class="card-title">{{this.Name}}</h5>
                            <p class="card-text">${{this.price}}</p>
                            <p class="card-text">{{this.Description}}</p>
                            <a href="#" class="btn btn-primary">Add to Cart</a> 
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>

   